#img{
    height: min-content;
    width: min-content;
}

.textPad{
    padding: 60px;
    
    
}
#textTit{

    font-size: 30px;
    font-weight: 600px;
    text-shadow: 2px 3px 7px #8c8888;
    font-family: 'Lexend', sans-serif;
}
#textSiz{
    font-size: 17px;
    font-weight: 400px;

}
.picSiz{

    width: 40%;
    height: 40%;
}
@media screen and (min-width : 420px) and (max-width : 690px) {
    #textTit{
        font-size: 20px;
        font-weight: 300px;
    }
    .textPad{
        padding: 2px;
    }
    #textSiz{
        font-size: 11px;
        font-weight: 400px;
        text-shadow: 2px 3px 7px #cbc6c6;
    }
}

@media screen and (min-width : 120px) and (max-width : 420px) {
    #textTit{
        font-size: 20px;
        font-weight: 300px;
    }
    .textPad{
        padding: 10px;
    }
    #textSiz{
        font-size: 11px;
        font-weight: 400px;
        text-shadow: 2px 3px 7px #cbc6c6;
    }
}