#img{
    height: min-content;
    width: min-content;
}

.textPad{
    padding: 50px;
    
    
}
#textTit{

    font-size: 30px;
    font-weight: 600px;
    /* text-shadow: 2px 3px 7px #07075b00; */
    font-family: 'Lexend', sans-serif;
    color: rgb(3, 9, 61);
}
#textSiz{
    font-size: 17px;
    font-weight: 400px;
    text-align: justify;
    color: rgb(3, 9, 61);

}
.picSiz{

    width: 80%;
    height: 50%;
}
#picSiz{
align-items: center;
    width:90%;
    height: 60%rem;
    border-radius: 2px;
    
}

@media screen and (min-width : 420px) and (max-width : 690px) {
    #textTit{
        font-size: 20px;
        font-weight: 300px;
    }
    .textPad{
        padding: 2px;
    }
    #textSiz{
        font-size: 11px;
        font-weight: 400px;
        text-shadow: 2px 3px 7px #cbc6c6;
    }
    #CarouselH{
      font-size: 40px;
    }
    #carousel{
      font-size: 20px;;
    }
}

@media screen and (min-width : 120px) and (max-width : 420px) {
    #textTit{
        font-size: 20px;
        font-weight: 300px;
    }
    .textPad{
        padding: 10px;
    }
    #textSiz{
        font-size: 14px;
        text-align: justify;
        font-weight: 400px;
        text-shadow: 2px 3px 7px #cbc6c6;
    }
    #CarouselH{
      font-size: 40px;
    }
    #carousel{
      font-size: 20px;;
    }
}
/* #titleButt{
   
        justify-content: flex-end;
        z-index: 1;
        border: 5px solid;
        border-color: black;
      } */

      
.Row{
    list-style: none;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.fa {
    padding: 9px;
    font-size: 20px;
    width: 53px;
    text-align: center;
    text-decoration: none;
  
    margin-left: 15px;
  }
  
  /* Add a hover effect if you want */
  /* .fa:hover {
    opacity: 0.7;
    color: rgb(198, 11, 11);
  } */
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #04225f;
  
    /* border: 1px solid; */
    border-radius: 50%;
      color: rgb(244, 244, 245);
   
  }
  .fa-facebook:hover {
    transition: all;
    background: transparent;
    border: 1px solid;
    border-radius: 50%;
     color: rgb(1, 4, 16);
  }
  /* Twitter */
  .fa-twitter {
    background: #066899;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(250, 252, 254);
  }
  .fa-twitter:hover {
    transition: all;
    background: #06689900;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 11);
  }
  .fa-whatsapp {
    background: #0e8508;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(249, 245, 245);
  }
  .fa-whatsapp:hover {
    transition: all;
    background: #0e850800;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 5);
  }
  .fa-instagram {
    background: #e62424;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(249, 246, 246);
  }
  .fa-instagram:hover {
    transition: all;
    background: #e6242400;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 4);
  }
 
  
  @media screen and (max-width : 296px) {
    .fa {
        padding: 10px;
        font-size: 15px;
        width: 38px;
        /* height:33px; */
        text-align: center;
        text-decoration: none;
      
        margin-left: 5px;
      }
      
      /* Add a hover effect if you want */
      /* .fa:hover {
        opacity: 0.7;
        color: rgb(198, 11, 11);
      } */
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-facebook {
        background: #04225f;
        /* border: 1px solid; */
        border-radius: 50%;
        color: rgb(238, 239, 244);
      }
      .fa-facebook:hover {
        transition: all;
        background: #04225f00;
        border: 1px solid;
        border-radius: 50%;
         color: rgb(1, 4, 16);
      }
      /* Twitter */
      .fa-twitter {
        background: #066899;
        /* border: 1px solid; */
        border-radius: 50%;
        color: rgb(250, 250, 250);
      }
      .fa-twitter:hover {
        transition: all;
        background: #06689900;
        border: 1px solid;
        border-radius: 50%;
        color: rgb(1, 1, 7);
      }
      .fa-whatsapp {
        background: #0e8508;
        /* border: 1px solid; */
        border-radius: 50%;
        color: rgb(248, 242, 242);
      }
      .fa-whatsapp:hover {
        transition: all;
        background: #0e850800;
        border: 1px solid;
        border-radius: 50%;
        color: rgb(0, 0, 7);
      }
      .fa-instagram {
        background: #e62424;
        /* border: 1px solid; */
        border-radius: 50%;
        color: rgb(244, 243, 243);
      }
      .fa-instagram:hover {
        transition: all;
        background: #e6242400;
        /* border: 1px solid; */
        border-radius: 50%;
        color: rgb(0, 0, 6);
      }
   
    }
    @media screen and (min-width : 296px) {
      .AboutP{
        font-weight: 200;
         color: rgb(13, 6, 49);
         font-family:'Lexend', sans-serif;
         line-height: 1.3;
         text-align: left;
         font-size: 0.8rem;
      }

    }
.AboutP{
        font-weight: 300;
         color: rgb(13, 6, 49);
         font-family:'Lexend', sans-serif;
         line-height: 1.5;
         font-size: 1.1rem;

}
.fa {
    padding: 09x;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
  
    margin-left: 5px;
  }
  
  /* Add a hover effect if you want */
  /* .fa:hover {
    opacity: 0.7;
    color: rgb(198, 11, 11);
  } */
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook1 {
    background: #04225f;
    /* border: 1px solid; */
    border-radius: 50%;
      color: rgb(244, 244, 245);
   
  }
  .fa-facebook:hover {
    transition: all;
    background: #04225f01;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 3);
  }
  /* Twitter */
  .fa-twitter {
    background: #066899;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(244, 247, 249);
  }
  .fa-twitter:hover {
    transition: all;
    background: #06689903;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 1);
  }
  .fa-whatsapp {
    background: #0e8508;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(247, 245, 245);
  }
  .fa-whatsapp:hover {
    transition: all;
    background: #0e850800;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 5);
  }
  .fa-instagram {
    background: #e62424;
    /* border: 1px solid; */
    border-radius: 50%;
    color: rgb(247, 244, 244);
  }
  .fa-instagram:hover {
    transition: all;
    background: #e6242402;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(0, 0, 6);
  }

  #favIcon{
    width: 50px;
    height: 50px;
    align-items: center;
  }
  @media  screen and (min-width:300px) and  (max-width:757px) {
    #favIcon{
      width: 50px;
      height: 50px;
     margin-left: 100px;
    }
  }
  .serviceIcons{

    width: 90px;
    height: 90px;
    margin-left: -1px;

  }
  @media screen and (max-width:245px)  {
  
    .serviceIcons{

      width: 90px;
      height: 90px;
      margin-left: 60px;
  
    }
  }

  @media screen and (max-width : 370px)  {
  
    .serviceIcons{

      width: 90px;
      height: 90px;
      margin-left: 85px;
  
    }
  }

  /* @media  screen and (min-width:370px) and  (max-width:770px){

    .serviceIcons{

<<<<<<< HEAD
=======
<<<<<<< HEAD
      width: 100px;
      height: 100px;
      margin-left: 115px;
 
>>>>>>> 6976b1ce37a3423f57fce6cc8ae5dcd15531a6b3
      width: 90px;
      height: 90px;
      margin-left: 150px;
  
    }
  } */
    .cid-sz56sBQ95d {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: #000102;
    }