.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    z-index: 100;
}

.my-float {
    margin-top: 11px;
}

.scrollToTop {
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 45px;
    height: 45px;
    background: #832884;
    border-radius: 50px;
    color: #ffffff;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

    .scrollToTop i {
        line-height: 0px;
    }

    .scrollToTop:hover {
        color: #ffffff;
    }

    .scrollToTop.active {
        bottom: 30px;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

@media (max-width: 1199px) {
    #scrollUp {
        right: 0%;
    }   

    #scrollUp {
        display: none !important;
        opacity: 0;
    }
}