* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header {
    position: fixed;
    /* top: 0; */
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.566);
    z-index: 1000;

}

.logo {

    height: 60px;
    line-height: 60px;
    color: #12334e;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none;

}

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgb(14, 4, 120);
    transform: translateY(-5px);
    transition: 0.2s;

}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: rgb(14, 4, 120);
    transform: translateY(5px);
    transition: 0.2s;

}

#toggle.active::before {
    transform: translateY(0px)rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px)rotate(-45deg);
}

#toggle.active {
    background: rgb(255, 255, 255);

}

#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    background: white;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}

#navbar.active {
    width: 950px;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;

}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: rgb(0, 0, 0);
    height: 45px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.4em;
    padding: 0 15px;
    letter-spacing: 0px;
    white-space: normal;
   
    font-weight: 700;

}

#navbar ul li a:hover {
    color: rgb(12, 19, 86);
    /* background: #19043d5b; */
border-bottom: 1px solid rgb(12, 19, 86);
 
    

}

/*responsive*/
/* @media (max-width:991px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(50vh - 60px);
    }
    #navbar.active
    {
        height: calc(50vh - 60px);
        bottom: 50vh;
        width: 430px;
    }
    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #navbar ul li a {
        color: black;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 2px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;
    
    }
    
    #navbar ul li a:hover {
        color: rgb(0, 19, 188);
        /* background: #19043d8f; 
       font-size: 1.7em;
       transition: 0.5s;
    
    }
} */
@media (min-width:1000px) and (max-width:1100px) {
    #navbar.active {
        width: 650px;
    }

}

@media (min-width:1100px) and (max-width:1240px) {
    #navbar.active {
        width: 700px;
    }

}

@media (max-width:280px) {
    #navbar {
        position: fixed;
        bottom: 0;
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
    }

    #navbar.active {
        height: calc(60vh - 60px);
        bottom: 40vh;
        right: 0;
        width: 200px;
    }

    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #navbar ul li a {
        color: black;
        height: 60px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 2px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;

    }

    #navbar ul li a:hover {
        color: rgb(14, 19, 69);
        /* background: #19043d8f; */
        font-size: 1.7em;
        transition: 0.5s;

    }
}

@media (min-width:374px) and (max-width:394px) {
    #navbar {
        position: fixed;
      
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #navbar.active {
        height: calc(40vh - 60px);
        bottom: 60vh;
        right: 0;
        width: 200px;
        border-radius: 0 0 8px 8px;
    }

    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #navbar ul li a {
        color: black;
        height: 45px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 0px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;

    }

    #navbar ul li a:hover {
        color: rgb(16, 21, 67);
        /* background: #19043d8f; */
        font-size: 1.7em;
        transition: 0.5s;

    }

}

@media (min-width:280px) and (max-width:376px) {
    #navbar {
        position: fixed;
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #navbar.active {
        height: calc(45vh - 60px);
        bottom: 55vh;
        right: 0;
        width: 200px;
        border-radius: 0 0 8px 8px;
    }

    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #navbar ul li a {
        color: black;
        height: 35px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 0px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;

    }

    #navbar ul li a:hover {
        color: rgb(13, 18, 63);
        /* background: #19043d8f; */
        font-size: 1.7em;
        transition: 0.5s;

    }

}

@media (min-width:359px) and (max-width:361px) {
    #navbar {
        position: fixed;
       
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #navbar.active {
        height: calc(40vh - 60px);
        bottom: 60vh;
        right: 0;
        width: 200px;
        border-radius: 0 0 8px 8px;
    }

    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #navbar ul li a {
        color: black;
        height: 45px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 0px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;

    }

    #navbar ul li a:hover {
        color: rgb(12, 17, 61);
        /* background: #19043d8f; */
        font-size: 1.7em;
        transition: 0.5s;

    }

}

@media (min-width:400px) and (max-width:415px) {
    #navbar {
        position: fixed;
      
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #navbar.active {
        height: calc(35vh - 60px);
        bottom: 65vh;
        right: 0;
        width: 200px;
        border-radius: 0 0 8px 8px;
    }

    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }

    #navbar ul li a {
        color: black;
        height: 45px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 0px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;

    }

    #navbar ul li a:hover {
        color: rgb(13, 18, 67);
        /* background: #19043d8f; */
        font-size: 1.7em;
        transition: 0.5s;

    }

}

@media (min-width:800px) and (max-width:825px) {
    #navbar {
        position: fixed;
       
        right: -100%;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    #navbar.active {
        height: calc(40vh - 60px);
        bottom: 60vh;
        right: 0;
        width: 200px;
        border-radius: 0 0 8px 8px;
    }
    #navbar ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 0px;
    }
    #navbar ul li a {
        color: black;
        height: 45px;
        line-height: 50px;
        display: inline-block;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0 15px;
        letter-spacing: 0px;
        white-space: normal;
        transition: 0.5s;
        font-weight: 700;
    
    }
    
    #navbar ul li a:hover {
        color: rgb(15, 20, 67);
        /* background: #19043d8f; */
       font-size: 1.7em;
       transition: 0.5s;
    
    }
     
}
