 
 
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
form {
  flex-basis: 100%;
}
label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
textarea {
  height: 150px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: #444;
}
 